*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;  
}
body{
  min-height:130vh;
  display:flex;
  outline: dotted red 3px;
}

header{
    text-align: center;
    padding: 10px;
    outline: dotted red 3px;
}

div.main{
    padding: 2rem;
    display: flex;
    flex-direction: column; /* Stack articles vertically */
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    outline: dotted red 3px;
}

section.first{
    width: 60%;
    outline: dotted red 3px;
}

section.second{
    width: 60%;
    outline: dotted red 3px;
}